.dropdown-menu{
    background-color: black;
    color: white;
}
.dropdown-item{
    color: white;
}

/* desktop-logo */
@media  (max-width:1245px){
  .desktop-logo img{
     height: 90px;
}
}









/* This is for footer */
.footer {
  background-color: #222;
  font-size: 15px;
}

.footer-logo {
  width: 150px;
}

.footer-description {
  margin-top: 15px;
  color: #ccc;
}

.footer-heading {
  font-weight: bold;
  margin-bottom: 15px;
}

.footer ul li {
  margin-bottom: 8px;
  color: #ddd;
  cursor: pointer;
}

.footer ul li:hover {
  text-decoration: underline;
}

.social-icon {
  font-size: 22px;
  color: #ffb400;
  transition: transform 0.2s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}
